extends ../layout

block content
    .container
        .row
            each item in goods
                .col-md-2
                    .thumbnail.clear-padding
                        a(href="/movie/" + item._id)
                            img#limited(src=item.productImage, alt=item.productName)
                        .caption
                            h4.text-center #{item.salePrice}
                            p.text-center: a.btn.btn-primary(href="/goods/" + item._id, role="button") 编辑信息